
.Cairo {
    font-family: 'Cairo', sans-serif;
}

.Geologica {
    font-family: 'Geologica', sans-serif;
}

.Kanit {
    font-family: 'Kanit', sans-serif;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}